<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Contract">
      <directory>tests/Contract</directory>
    </testsuite>
    <testsuite name="Smoke">
      <directory>tests/Smoke</directory>
    </testsuite>
  </testsuites>
</phpunit>
